@model MovieApp.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var movieHeaderClass = Model.Customers.Count > 2 ? "popular" : null;
}

<h2 class="@movieHeaderClass">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No customers!</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Id: @customer.Name</li>
        }
    </ul>
}
